html{
    scroll-behavior: smooth ;
}
body{
    margin: 0;
    padding: 0;
    background:linear-gradient(135deg,#eef2ff,#ffffff);
    font-family: Arial, sans-serif;
}
h1{
    color: #2c3e50;
    font-size: 50px;
}
h2{
    color: #4a4a4a;
}
p{
    color:#666;
    font-size: 20px;
}
.container{
    padding: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.logo{
    color:#4f46e5;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.resume-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #4f46e5;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}
.resume-btn:hover{
    transform: scale(1.05);
    background: #3730a3;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.left{
    width: 55%;
}
.right{
    width: 40%;
    text-align: center;
}
.right img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 6px solid #7671d4;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
span{
    color: #4f46e5;
}
.about{
    padding: 80px;
    background: white;
}
.about h2{
    text-align: center;
    font-size: 40px;
    color: #4f46e5;
    margin-bottom: 30px;
}
.about p{
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
    margin: auto;
}
.skills{
    padding: 80px;
    background: #f4f7ff;
    text-align: center;
}
.skills h2{
    text-align: center;
    font-size: 40px;
    color: #4f46e5;
    margin-bottom: 40px;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    max-width: 900px;
    margin: 40px auto;
}
.card{
    background: white;
    padding: 35px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    background: #4f46e5;
    color: white;
}
.education{
    padding: 80px;
    background: white;
    text-align: center;
}
.education h2{
    font-size: 40px;
    color: #4f46e5;
    margin-bottom: 40px;
}
.edu-card{
    max-width: 700px;
    margin: auto;
    background: #f4f7ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.edu-card:hover{
    transform: translateY(-8px);
}
.edu-card h3{
    color: #333;
}
.certifications{
    padding: 80px;
    background: #f4f7ff;
    text-align: center;
}
.certifications h2{
    font-size: 40px;
    color: #4f46e5;
    margin-bottom: 40px;
}
.cert-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.cert-card{
    width: 320px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.cert-card:hover{
    transform: translateY(-8px);
}
.contact{
    padding: 80px;
    background: #9996db;
    color: white;
    text-align: center;
}
.contact h2{
    color: #333;
    font-size: 40px;
    margin-bottom: 30px;
}
.contact p{
    color:white;
    font-size: 20px;
    margin: 10px 0;
}
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
